.navbar {
  display: flex;
  padding-block: 1rem;
  margin: 1rem;
  align-items: center;
  justify-content: space-between;
}

.navbar__right {
  display: flex;
}

.navbar__info {
  display: flex;
  flex-direction: column;
}

.navbar__img {
  margin-inline: 1rem;
  width: 5vw;
  height: 10vh;
}

.navbar__img > img {
  width: 100%;
  height: 100%;
}
